---
version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    groups:
      python-minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "17:00"
      timezone: "America/Chicago"

  - package-ecosystem: "gomod"
    directory: "/"
    groups:
      go-minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "17:00"

      timezone: "America/Chicago"
  - package-ecosystem: "npm"
    directory: "/"
    groups:
      npm-minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "17:00"
      timezone: "America/Chicago"

  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      github-actions:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "17:00"
      timezone: "America/Chicago"
