<!doctype html>
<html class="bg-neutral-50 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-50 text-sm/6"
      lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
    {{- partial "head.html" . }}
</head>
<body class="@container flex flex-col">
<header class="flex flex-row items-baseline m-0 p-0 px-2 md:pb-2 lg:mx-32 bg-neutral-50 dark:bg-neutral-900 dark:border-amber-500 border-orange-500">
    {{- partial "header.html" . }}
</header>
<main class="main flex flex-col m-0 p-2 md:px-8 md:pt-4 lg:mx-32 bg-neutral-100 dark:bg-zinc-800 border-1 border-orange-500 dark:border-amber-500">
    {{- block "main" . -}}{{- end -}}
</main>
<footer class="m-0 p-0 mb-2 md:pt-4 flex flex-col items-center">
    {{- partial "footer.html" . -}}
</footer>
</body>
</html>
