{{ define "main" }}
{{ .Content }}
{{ $pages := where site.RegularPages "Section" "til" }}
{{ $paginator := .Paginate $pages }}
{{ range $paginator.Pages }}
<article class="md:mt-4 til-ls">
    <h3>
        <a class="no-underline" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h3>
    {{ if eq .Truncated false }}
    <p>There is no summary. Someone got lazy.</p>
    <span class="read-more mt-8 flex flex-row"><a href="{{ .RelPermalink }}">Read Anyway &rarr;</a></span>

    {{ else }}
    <span class="summary">
    {{ .Summary | emojify }}
    </span>
    {{ end }}
    {{ if .Truncated }}
    <span class="read-more md:mt-8 flex flew-row">
        <a href="{{ .RelPermalink }}" aria-label="Read More" class="page-link" role="button"><span
                aria-hidden="true">Read more &rarr;</span></a>
    </span>
    {{ end }}
</article>
<hr />
{{ end }}
{{ partial "pagination.html" . }}
<!-- til/list.html -->
{{ end }}
{{- /* Trim EOF */ -}}
