{{- $lastmod := .Lastmod | time.Format ":date_long" -}}
{{- if .IsHome -}}
    <h1><a class="header-title no-underline md:pl-4 mt-2 max-sm:mb-0 md:font-extrabold" title="{{.Title}}"
           href="{{"" | absURL}}">{{site.Title}}</a></h1>
{{- else -}}
    <h1><a class="header-title no-underline md:pl-4 mt-2 max-sm:mb-0 md:font-extrabold" title="{{.Title}}"
           href="{{"" | absURL}}">{{site.Title}}</a></h1><h3 class="hidden md:contents">
        &nbsp;&gt;&nbsp;{{ .Title | emojify }}</h3>
{{- end -}}
{{- partial "menu.html" (dict "menuID" "main" "page" .) -}}
{{- /* Trim EOF */ -}}
